.login-page {
    background: url("../../../public/images/login-background.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-error {
    color: #FF0000;
    text-align: left;
    align-self: flex-start;
}

.login-paper {
    display: flex;
    width: 25rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img.logo {
    width: 10rem;
    height: auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}